<ejs-sidebar
  id="default-sidebar"
  #sidebar
  [type]="'Push'"
  [width]="'100px'"
  [enableGestures]="true"
  (created)="onCreated($event)"
>
  <div class="side-bar-main-contaner">
    <ng-container *ngFor="let bar of sideBarItems">
      <div
        class="sidebar-item-container"
        (click)="navigate(bar.itemName)"
        [ngStyle]="{
          background: currentPage == bar.itemName ? '#266caa' : 'transparency'
        }"
      >
        <span [ngClass]="['e-icons', bar.icon, 'e-large']"></span>
        <span>{{ bar.itemName }}</span>
      </div>
    </ng-container>
  </div>
</ejs-sidebar>

<!-- Main content -->
<div class="main-route-content">
  <div class="header-container">
    <span
      class="e-icons e-table-of-content e-large"
      (click)="toggleSidebar()"
    ></span>
    <h1>{{ currentPage }}</h1>
  </div>
</div>
