.side-bar-main-contaner {
  height: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 0px;
  overflow: auto;
  background: #3e8acd;
  .sidebar-item-container {
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    color: #fff;
    &:hover {
      background: #266caa !important;
    }
  }
}

.main-route-content {
  height: 100%;
  // padding: 0px 50px;
}
