<div class="home-mian-container">
  <div class="header-container">
    <div class="main-header-container">{{ "SP3 Compliance Platform" }}</div>
    <div class="sub-header-container">
      {{ "Integrated, Verified, Immutable" }}
    </div>
  </div>
  <div class="chart-main-container">
    <div class="header-pointer">
      <span>View Upcoming Compliance Requirements</span>
      <button ejs-button [isPrimary]="true">View All</button>
    </div>
    <!-- <div class="filter-field-container">
      <div class="filter-input-fields">
        <ejs-dropdownlist
          id="standards"
          #standardsFamily
          [dataSource]="standardFamilyList"
          (change)="dropdownChanges($event)"
          [value]="selectedStandardFamilyData"
          [fields]="standardFamilyMappedProperty"
          [placeholder]="'Select'"
        ></ejs-dropdownlist>
      </div>
      <div class="filter-input-fields">
        <ejs-dropdownlist
          id="standards"
          #standardsFamily
          [dataSource]="standardFamilyList"
          (change)="dropdownChanges($event)"
          [value]="selectedStandardFamilyData"
          [fields]="standardFamilyMappedProperty"
          [placeholder]="'Filter by keyword...'"
        ></ejs-dropdownlist>
      </div>
      <div class="filter-input-fields">
        <ejs-dropdownlist
          id="standards"
          #standardsFamily
          [dataSource]="standardFamilyList"
          (change)="dropdownChanges($event)"
          [value]="selectedStandardFamilyData"
          [fields]="standardFamilyMappedProperty"
          [placeholder]="'Select Date Range'"
        ></ejs-dropdownlist>
      </div>
      <div class="filter-input-fields">
        <ejs-dropdownlist
          id="standards"
          #standardsFamily
          [dataSource]="standardFamilyList"
          (change)="dropdownChanges($event)"
          [value]="selectedStandardFamilyData"
          [fields]="standardFamilyMappedProperty"
          [placeholder]="'Select All'"
        ></ejs-dropdownlist>
      </div>
    </div> -->
    <div class="static-widget-container">
      <ng-container *ngFor="let data of staticWidgetDetails">
        <div class="outer-container">
          <div class="label-container">{{ data.label }}</div>
          <div class="value-container">{{ data.value }}</div>
        </div>
      </ng-container>
    </div>
    <!-- <div class="chart-layout-container">
      <ejs-dashboardlayout
        [allowDragging]="false"
        height="100%"
        [cellSpacing]="cellSpacing"
        id="defaultLayout"
        [mediaQuery]="mediaQuery"
        [cellAspectRatio]="1.7"
        [columns]="5"
        #defaultLayout
      >
        <e-panels>
          <e-panel [sizeX]="3" [sizeY]="2" [row]="0" [col]="0">
            <ng-template #content>
              <ejs-chart
                id="task-status-chart"
                [primaryXAxis]="primaryXAxis"
                [primaryYAxis]="primaryYAxis"
                [title]="chartTitle"
                [tooltip]="tooltip"
              >
                <e-series-collection>
                  <e-series
                    [dataSource]="chartData"
                    type="StackingBar"
                    xName="category"
                    yName="pastDue"
                    name="Past Due"
                    [fill]="'#e58c3c'"
                  >
                  </e-series>
                  <e-series
                    [dataSource]="chartData"
                    type="StackingBar"
                    xName="category"
                    yName="dueIn30Days"
                    name="Due in 30 Days"
                    [fill]="'#dfc43a'"
                  >
                  </e-series>
                  <e-series
                    [dataSource]="chartData"
                    type="StackingBar"
                    xName="category"
                    yName="completed"
                    name="Completed"
                    [fill]="'#33a133'"
                  >
                  </e-series>
                </e-series-collection>
              </ejs-chart>
            </ng-template>
          </e-panel>
          <e-panel [sizeX]="1" [sizeY]="1" [row]="0" [col]="3">
            <ng-template #content>
              <div
                class="indication-widget"
                (change)="
                  getWidgetDetails(complianceCountDetails.pastDue, 'pastDue')
                "
              >
                <div class="count-value">
                  {{ complianceCountDetails.pastDue }}
                </div>
                <div class="title" [ngStyle]="{ color: '#e58c3c' }">
                  Past Due
                </div>
              </div>
            </ng-template>
          </e-panel>
          <e-panel [sizeX]="1" [sizeY]="1" [row]="0" [col]="4">
            <ng-template #content>
              <div
                class="indication-widget"
                (change)="
                  getWidgetDetails(
                    complianceCountDetails.completed,
                    'completed'
                  )
                "
              >
                <div class="count-value">
                  {{ complianceCountDetails.completed }}
                </div>
                <div class="title" [ngStyle]="{ color: '#33a133' }">
                  Completed
                </div>
              </div>
            </ng-template>
          </e-panel>
          <e-panel [sizeX]="1" [sizeY]="1" [row]="1" [col]="3">
            <ng-template #content>
              <div
                class="indication-widget"
                (change)="
                  getWidgetDetails(
                    complianceCountDetails.thirtyDue,
                    'thirtyDue'
                  )
                "
              >
                <div class="count-value">
                  {{ complianceCountDetails.thirtyDue }}
                </div>
                <div class="title" [ngStyle]="{ color: '#dfc43a' }">
                  Due in 30 days
                </div>
              </div>
            </ng-template>
          </e-panel>
          <e-panel [sizeX]="1" [sizeY]="1" [row]="1" [col]="4">
            <ng-template #content>
              <app-reliability-score [score]="80"></app-reliability-score>
            </ng-template>
          </e-panel>
        </e-panels>
      </ejs-dashboardlayout>
    </div> -->
    <div class="widgets-sction-container">
      <div
        class="task-chart-section-container"
        [ngStyle]="{ width: '100%', height: '100%' }"
      >
        <ejs-chart
          id="task-status-chart"
          [height]="'100%'"
          [width]="'100%'"
          [primaryXAxis]="primaryXAxis"
          [primaryYAxis]="primaryYAxis"
          [title]="chartTitle"
          (loaded)="chartLoaded($event)"
          [tooltip]="tooltip"
        >
          <e-series-collection>
            <e-series
              [dataSource]="chartData"
              type="StackingBar"
              xName="category"
              yName="pastDue"
              name="Past Due"
              [fill]="'#e58c3c'"
            >
            </e-series>
            <e-series
              [dataSource]="chartData"
              type="StackingBar"
              xName="category"
              yName="dueIn30Days"
              name="Due in 30 Days"
              [fill]="'#dfc43a'"
            >
            </e-series>
            <e-series
              [dataSource]="chartData"
              type="StackingBar"
              xName="category"
              yName="completed"
              name="Completed"
              [fill]="'#33a133'"
            >
            </e-series>
          </e-series-collection>
        </ejs-chart>
      </div>
      <div class="dynamic-widgets-container">
        <div class="widget-container">
          <div
            class="indication-widget"
            (click)="
              getWidgetDetails(complianceCountDetails.pastDue, 'pastDue')
            "
          >
            <div class="count-value">
              {{ complianceCountDetails.pastDue }}
            </div>
            <div class="title" [ngStyle]="{ color: '#e58c3c' }">Past Due</div>
          </div>
        </div>
        <div class="widget-container">
          <div
            class="indication-widget"
            (click)="
              getWidgetDetails(complianceCountDetails.completed, 'completed')
            "
          >
            <div class="count-value">
              {{ complianceCountDetails.completed }}
            </div>
            <div class="title" [ngStyle]="{ color: '#33a133' }">Completed</div>
          </div>
        </div>
        <div class="widget-container">
          <div
            class="indication-widget"
            (click)="
              getWidgetDetails(complianceCountDetails.thirtyDue, 'thirtyDue')
            "
          >
            <div class="count-value">
              {{ complianceCountDetails.thirtyDue }}
            </div>
            <div class="title" [ngStyle]="{ color: '#dfc43a' }">
              Due in 30 days
            </div>
          </div>
        </div>
        <div class="widget-container">
          <app-reliability-score [score]="80"></app-reliability-score>
        </div>
      </div>
    </div>
  </div>
</div>

<ejs-toast
  #toast
  [showCloseButton]="true"
  [timeOut]="1000"
  [position]="{ X: 'Right', Y: 'Top' }"
>
</ejs-toast>
